# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ResultadoMaiorQue300.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ladyv\Documents\cursinhoCsharp\beginning\manzano-exercices\sequence-algorithms\ResultadoMaiorQue300\.idea\.idea.ResultadoMaiorQue300\.idea/dataSources/
/dataSources.local.xml
