# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.NotasEMoedas1021.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ladyv\Documents\outros\jetRider\NotasEMoedas1021\.idea\.idea.NotasEMoedas1021\.idea/dataSources/
/dataSources.local.xml
