# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.OrdemCrescente1113.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ladyv\Documents\cursinhoCsharp\beginning\repetitive-exercices-uri\OrdemCrescente1113\.idea\.idea.OrdemCrescente1113\.idea/dataSources/
/dataSources.local.xml
