# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TipoDoTriangulo1045-melhorado.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ladyv\Documents\cursinhoCsharp\beginning\selection-exercices-uri\TipoDoTriangulo1045-melhorado\.idea\.idea.TipoDoTriangulo1045-melhorado\.idea/dataSources/
/dataSources.local.xml
