# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MultiplosDe13-1132.iml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
