# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ImpostoDeRenda1051.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ladyv\Documents\cursinhoCsharp\beginning\selection-exercices-uri\ImpostoDeRenda1051\.idea\.idea.ImpostoDeRenda1051\.idea/dataSources/
/dataSources.local.xml
