# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FaixaEntre1e9.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ladyv\Documents\cursinhoCsharp\beginning\manzano-exercices\sequence-algorithms\FaixaEntre1e9\.idea\.idea.FaixaEntre1e9\.idea/dataSources/
/dataSources.local.xml
