# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Animal1049.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ladyv\Documents\cursinhoCsharp\beginning\selection-exercices-uri\Animal1049\.idea\.idea.Animal1049\.idea/dataSources/
/dataSources.local.xml
