# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ResultadoMaiorQue30.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ladyv\Documents\cursinhoCsharp\beginning\manzano-exercices\sequence-algorithms\ResultadoMaiorQue30\.idea\.idea.ResultadoMaiorQue30\.idea/dataSources/
/dataSources.local.xml
